body {background: #73CCD3;}
#center-head {
text-align: center;
color: #414141;
font-size: 96px;
font-family: Avenir-Black;
margin-top: 150px;
}
.urlframe {
position: absolute;
top: 0;
z-index: -1;
display: block;
margin: auto;
}  
